/* * { outline: 1px solid rgba(255,0,0,.2);} :hover { outline: 1px solid rgba(255,0,0,0.6); } 
* * { outline: 1px solid rgba(0,255,0,.2);} :hover { outline: 1px solid rgba(0,255,0,0.6); } 
* * * { outline: 1px solid rgba(0,0,255,.2);} :hover { outline: 1px solid rgba(0,0,255,0.6); }
* * * * { outline: 1px solid rgba(255,0,255,.2);} :hover { outline: 1px solid rgba(255,0,0,0.6); } 
* * * * * { outline: 1px solid rgba(0,255,255,.2);} :hover { outline: 1px solid rgba(0,255,0,0.6); } 
* * * * * * { outline: 1px solid rgba(255,255,0,.2);} :hover { outline: 1px solid rgba(0,0,255,0.6); }
* * * * * * * { outline: 1px solid rgba(255,0,0,.2);} :hover { outline: 1px solid rgba(255,0,0,0.6); } 
* * * * * * * * { outline: 1px solid rgba(0,255,0,.2);} :hover { outline: 1px solid rgba(0,255,0,0.6); } 
* * * * * * * * * { outline: 1px solid rgba(0,0,255,.2);} :hover { outline: 1px solid rgba(0,0,255,0.6); } */
* {
    /* outline: solid red 1px;
    outline-offset: -1px; */
    box-sizing: border-box;
    font-family: 'Rakkas', Palatino;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.f_center {
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* CENTER */
    background-color: var(--background);
    background-image: radial-gradient(#212121 0.6px, transparent 0.6px), radial-gradient(#212121 0.6px, transparent 0.6px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    transition: 300ms ease-in-out;
    text-align: center;
    min-height: 100vh;
    overflow: hidden;
}
h2 {
    font-size: 40px;
    color: var(--text);
}
h3 {
    font-size: 30px;
    color: var(--accent);
}
a {
    font-style: normal;
    color: var(--text);
}

.moon {
    cursor: pointer;
    transition: 300ms ease-in-out;
    position: fixed;
    left: 2rem;
    top: 2rem;
    padding: 1rem;
    background-color: var(--card);
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
#moon {
    color: var(--text);
}
.moon:hover {
    box-shadow: 1px 1px 2px 2px var(--accent);
}

.card {
    transition: 300ms ease-in-out;
    background-color: var(--card);
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: 600px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.card:hover {
    box-shadow: 2px 2px 4px 5px rgba(0, 0, 0, 0.35);
}

.card-header {
    margin-top: 35px;
    align-self: flex-start;
    width: 100%;
}
#pfp {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.25);
    transition: 300ms ease-in-out;
}
#pfp:hover {
    box-shadow: 2px 2px 4px 4px var(--accent);
}
#name {
    margin-top: 20px;
}
#swe {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
}

.card-icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 55px;
    overflow: hidden;
}
.card-icons > div {
    height: 65px;
    margin-right: 10px;
    margin-left: 10px;
    color: var(--text);
}
.isLink {
    text-decoration: inherit;
    color: inherit;
    height: 65px;
}
.iconify {
    margin-top: 10px;
    transition: 200ms ease-out;
    background-color: transparent;
}
.card-icons > div:hover .iconify {
    margin-top: 0px;
    box-shadow: 0px 50px 15px -17px #C1C1C1;
}
.github:hover {
    /* color: rgb(233, 117, 10); */
    color: #c9510c;
}
.linkedin:hover {
    /* color: rgb(0, 26, 255); */
    color:  #0072b1;
}
.twitter:hover {
    /* color: rgb(0, 140, 255); */
    color: #00acee;
}
.mail:hover {
    /* color: rgb(175, 175, 175); */
    color: var(--accent);
}

.card-footer { 
    /* CENTER */
    background-color: var(--footer);
    width: 100%;
    height: 120px;
}
.cv {
    /* CENTER */
    transition: 300ms ease-in-out;
    background-color: var(--btn);
    border-radius: 15px;
    width: 80%;
    height: 55%;
}
.cv:hover {
    cursor: pointer;
    background-color: var(--btn-hover);
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.35);
    margin-bottom: 5px;
}
.cv > a {
    /* CENTER */
    text-decoration: none;
    font-size: 23px;
    color: #f8f8f8;
    height: 100%;
    width: 100%;
}
.cv:hover a {
    color: var(--text-hover);
}

@media only screen and (max-width: 600px) {
    .moon {
        position: absolute;
        margin-top: 10px;
        left: initial;
        margin-left: 10px;
    }
    body {
        padding-top: 2rem;
        flex-direction: column;
        justify-content: flex-start;
    }
  }