* {
    margin: 0;
    padding: 0;
    color: green;
    /* outline: 1px solid red;
    outline-offset: -1px; */
}
aside {
    position: absolute;
    height: 100%;
    width: 18%;
    background-color: aqua;
    transition: 200ms ease;
}
aside:hover {
    width: 20%;
}
section {
    margin-left: 20%;
    height: 100%;
}
.grid-container {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 33.3vh 33.3vh 33.3vh;
    /* grid-gap: 10px; */
} 
.grid-container > div {
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    transition: 200ms ease;
    overflow: hidden;
    height: 100%;
    position: relative;
}
.grid-container > div:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
.grid-container > div > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.strip {
    position: absolute;
    height: 7px;
    width: 100%;
    transition: 200ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
.strip > .title {
    visibility: hidden;
}
.grid-container > div:hover > .strip {
    height: 100%;
}
.grid-container > div:hover > .strip > .title {
    visibility: visible;
    color: white;
    font-size: 48px;
    opacity: 1;
}
.item1 > .strip {
    background-color: blue;
}
.item1:hover > .strip {
    background-color: rgba(0, 0, 255, 0.6);
}
.item2 {
    grid-area: 1 / 2 / span 2 / span 2;
    transition: 300ms;
}
.item2 > .strip {
    background-color: cadetblue;
}
.item2:hover > .strip {
    background-color: rgba(95, 158, 160, 0.6);
}
.item3 > .strip {
    background-color: cadetblue;
}
.item3:hover > .strip {
    background-color: rgba(95, 158, 160, 0.6);
}
.item4 { 
    grid-column: span 2;
}
.item4 > .strip {
    background-color: blue;
}
.item4:hover > .strip {
    background-color: rgba(0, 0, 255, 0.6);
}
.item5 > .strip {
    background-color: cadetblue;
}
.item5:hover > .strip {
    background-color: rgba(95, 158, 160, 0.6);
}